@font-face {
	font-family: '5Didgit Solid';
	src: url(../../assets/fonts/5Didgit-Solid.woff2) format('woff2'),
	url(../../assets/fonts/5Didgit-Solid.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}