@font-face {
	font-family: 'Aquire';
	src: url(../../assets/fonts/AquireRegular.woff2) format('woff2'),
	url(../../assets/fonts/AquireRegular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aquire';
	src: url(../../assets/fonts/AquireBold.woff2) format('woff2'),
	url(../../assets/fonts/AquireBold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}