body {
  margin: 0;
  font-family: 'Open Sans';
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
  font-weight: 700;
  color: var(--bs-danger);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.text-center {
  text-align: center!important;
  font-weight: 200;
}

