@font-face {
	font-family: 'PlayMeGames';
	src: url(../../assets/fonts/PlayMeGamesReguler.woff2) format('woff2'),
	url(../../assets/fonts/PlayMeGamesReguler.woff) format('woff');
	font-weight: 500;
	font-style: normal;
}